@mixin widget-title() {
	margin-top: 0;
	margin-bottom: 30px;
	font-family: var(--g5-font-primary);
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: var(--g5-color-heading);
	border-bottom: 1px solid var(--g5-color-border);
	padding-bottom: 6px;
	span {
		position: relative;
		&:before {
			content: '';
			display: block;
			border-top: 1px solid var(--g5-color-accent);
			position: absolute;
			left: 0;
			right: 0;
			bottom: -7px;
		}
	}
}
@mixin widget-search() {
	position: relative;
	input[type="search"] {
		width: 100%;
		padding-right: 40px;
	}
	button[type="submit"] {
		position: absolute;
		width: 40px;
		height: 48px;
		top: 0;
		right: 0;
		background: none;
		border: none;
		font-size: 16px;
		cursor: pointer;
		color: var(--g5-color-heading);
		&:hover,
		&:focus,
		&:active {
			color: var(--g5-color-link-hover);
		}
	}
}

@mixin widget-archive() {
	list-style: none;
	padding: 0;
	margin: 0;
	li {
		line-height: 20px;
		font-family: var(--g5-font-primary);
		color: var(--g5-color-muted);
		position: relative;
		> a {
			position: relative;
			display: inline-block;
			line-height: 20px;
			font-size: 15px;
			color: inherit;
			@include transition(all .3s);
			&:before {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: -1px;
				height: 1px;
				@include transition(transform 0.4s ease);
				@include transform(scale3d(0,1,1));
				@include transform-origin(100%,50%);
				@include transition-timing-function(cubic-bezier(0.8, 0, 0.2, 1));
				background-color: var(--g5-color-muted);
			}
			&:hover,
			&:focus,
			&:active {
				text-decoration: none;
				color: var(--g5-color-heading);
				&:before {
					@include transform(scale3d(1,1,1));
					@include transform-origin(0%,50%);
				}
			}
		}
	}

	li + li {
		margin-top: 15px;
	}

	li > ul {
		list-style: none;
		margin: 15px 0 0 0;
		padding: 0 0 0 20px;
	}
}

@mixin widget-tag() {
	font-size: 0;
	a {
		font-family: var(--g5-font-primary);
		font-size: 13px !important;
		height: 32px;
		line-height: 32px;
		padding: 0 10px;
		display: inline-block;
		margin: 0 10px 10px 0;
		@include transition(all 0.3s);
	}
}