:root {
	--g5-body-font: #{inspect($body_font)};
	--g5-body-font-size: #{$body_font_size};
	--g5-body-font-weight: #{$body_font_weight};
	--g5-body-font-style: #{$body_font_style};
	--g5-font-primary: #{inspect($font_primary)};

	--g5-h1-font: #{inspect($h1_font)};
	--g5-h1-font-size: #{$h1_font_size};
	--g5-h1-font-weight: #{$h1_font_weight};
	--g5-h1-font-style: #{$h1_font_style};

	--g5-h2-font: #{inspect($h2_font)};
	--g5-h2-font-size: #{$h2_font_size};
	--g5-h2-font-weight: #{$h2_font_weight};
	--g5-h2-font-style: #{$h2_font_style};

	--g5-h3-font: #{inspect($h3_font)};
	--g5-h3-font-size: #{$h3_font_size};
	--g5-h3-font-weight: #{$h3_font_weight};
	--g5-h3-font-style: #{$h3_font_style};

	--g5-h4-font: #{inspect($h4_font)};
	--g5-h4-font-size: #{$h4_font_size};
	--g5-h4-font-weight: #{$h4_font_weight};
	--g5-h4-font-style: #{$h4_font_style};

	--g5-h5-font: #{inspect($h5_font)};
	--g5-h5-font-size: #{$h5_font_size};
	--g5-h5-font-weight: #{$h5_font_weight};
	--g5-h5-font-style: #{$h5_font_style};

	--g5-h6-font: #{inspect($h6_font)};
	--g5-h6-font-size: #{$h6_font_size};
	--g5-h6-font-weight: #{$h6_font_weight};
	--g5-h6-font-style: #{$h6_font_style};


	--g5-color-accent: #{$color_accent};
	--g5-color-accent-foreground :  #{$color_accent_foreground};
	--g5-color-accent-brightness : #{$color_accent_brightness};
	--g5-color-accent-r :  #{red($color_accent)};
	--g5-color-accent-g :  #{green($color_accent)};
	--g5-color-accent-b :  #{blue($color_accent)};

	--g5-color-heading: #{$color_heading};
	--g5-color-heading-r :  #{red($color_heading)};
	--g5-color-heading-g :  #{green($color_heading)};
	--g5-color-heading-b :  #{blue($color_heading)};
	--g5-color-text-main: #696969;
	--g5-background-color: #fff;
	--g5-color-muted: #ababab;
	--g5-color-border: #{$color_border};
	--g5-color-border-r: #{red($color_border)};
	--g5-color-border-g: #{green($color_border)};
	--g5-color-border-b: #{blue($color_border)};
	--g5-color-border-color-acction-single-list: #ccc;
	--g5-color-countdown-single-product: #fff;
	--g5-background-color-info-layout-metro-product: rgba(255, 255, 255, 0.85);
	--g5-background-color-input-single-product: #f8f8f8;
	--g5-box-shadow-color-product-near: rgba(51, 51, 51, 0.2);



	--g5-color-link: #{$color_link};
	--g5-color-link-hover: #{$color_link_hover};

	--g5-menu-font: 'Nunito Sans';
	--g5-menu-font-size: 14px;
	--g5-menu-font-weight: 400;
	--g5-menu-font-style: normal;

	--g5-sub-menu-font: 'Nunito Sans';
	--g5-sub-menu-font-size: 14px;
	--g5-sub-menu-font-weight: 700;
	--g5-sub-menu-font-style: normal;

	--g5-mobile-menu-font: 'Nunito Sans';
	--g5-mobile-menu-font-size: 13px;
	--g5-mobile-menu-font-weight: 400;
	--g5-mobile-menu-font-style: normal;
	--g5-header-responsive-breakpoint: 991px;
	--g5-spinner-color : #{$color_accent};

	--g5-color-primary :  #{$color_primary};
	--g5-color-primary-foreground :  #{$color_primary_foreground};
	--g5-color-primary-brightness : #{$color_primary_brightness};


	--g5-header-background-color : #{$header_background_color};
	--g5-header-border-color : #ededed;
	--g5-header-sticky-background-color: #{$header_sticky_background_color};
	--g5-header-sticky-box-shadow-affix: rgba(0, 0, 0, 0.1);
	--g5-header-customize-search-form-background: #f8f8f8;
	--g5-header-sticky-customize-search-form-background: #f8f8f8;

	--g5-menu-background-color: #fff;
	--g5-menu-text-color: #696969;
	--g5-menu-sticky-text-color: #696969;
	--g5-menu-text-hover-color : #333;
	--g5-menu-sticky-text-hover-color : #333;
	--g5-menu-customize-text-color : #696969;
	--g5-menu-customize-sticky-text-color : #696969;
	--g5-menu-customize-text-hover-color : #{$color_accent};
	--g5-menu-customize-sticky-text-hover-color : #{$color_accent};

	--g5-submenu-text-color : #696969;
	--g5-submenu-text-hover-color : #{$color_accent};
	--g5-submenu-heading-color : #333;
	--g5-submenu-border-color : #ededed;

	--g5-logo-text-color : #333;
	--g5-logo-sticky-text-color : #333;
	--g5-mobile-header-background-color: #fff;
	--g5-mobile-logo-text-color : #333;
	--g5-mobile-logo-sticky-text-color : #333;
	--g5-mobile-header-border-color : #ededed;


	--g5-mobile-menu-background-color: #222;
	--g5-mobile-menu-text-color: rgba(255,255,255,0.7);
	--g5-mobile-menu-text-hover-color : #fff;
	--g5-mobile-menu-customize-text-color : #333;
	--g5-mobile-menu-customize-sticky-text-color : #333;
	--g5-mobile-menu-customize-text-hover-color : #{$color_accent};
	--g5-mobile-menu-customize-sticky-text-hover-color : #{$color_accent};


	--g5-logo-max-height: 110px;
	--g5-logo-padding-top: 30px;
	--g5-logo-padding-bottom: 30px;
	--g5-mobile-logo-max-height: 70px;
	--g5-mobile-logo-padding-top: 10px;
	--g5-mobile-logo-padding-bottom: 10px;
	--g5-mobile-header-sticky-height: 70px;
	--g5-navigation-height: 70px;
	--g5-navigation-spacing: 35px;
	--g5-header-customize-nav-spacing: 15px;
	--g5-header-customize-left-spacing: 15px;
	--g5-header-customize-right-spacing: 15px;
	--g5-header-customize-mobile-spacing: 15px;
	--g5-header-sticky-height: 80px;

	--g5-background-color-contrast : #f7f7f7;
	--g5-background-color-contrast-02 : #fff;
	--g5-background-color-contrast-03 : #f8f8f8;
	--g5-background-color-contrast-04 : #f4f3ec;
	--g5-background-color-contrast-05 : #ccc;
	--g5-background-color-contrast-06 : #E0E8EE;
	--g5-background-color-contrast-07 : #333;
	--g5-background-color-contrast-08 : #fafafa;
	--g5-background-color-contrast-09 : rgba(255, 255, 255, 0.7);
	--g5-background-color-contrast-10 : #000;
	--g5-background-color-contrast-11 : #9b9b9b;
	--g5-background-color-contrast-12 : #ababab;
	--g5-background-color-contrast-13 : #ccc;
	--g5-background-color-contrast-14 : #f8f8f8;
	--g5-background-color-contrast-15 : rgba(0, 0, 0, 0.15);
	--g5-background-color-contrast-16 : #fff;
	--g5-background-color-contrast-17 : rgba(255, 255, 255, 0.95);
	--g5-background-color-contrast-18 : #ededed;
	--g5-background-color-contrast-19 : #444;

	--g5-menu-vertical-background-color-1 : #212121;
	--g5-menu-vertical-background-color-2 : #313131;
	--g5-menu-vertical-background-color-3 : #414141;
	--g5-menu-vertical-background-color-4 : #515151;
	--g5-menu-vertical-background-color-5 : #616161;
	--g5-menu-vertical-background-color-6 : #717171;
	--g5-menu-vertical-background-color-7 : #818181;

	--g5-mobile-menu-background-color-contrast: #222;

	--g5-main-menu-vertical-background-color-1 : #212121;
	--g5-main-menu-vertical-background-color-2 : #313131;
	--g5-main-menu-vertical-background-color-3 : #414141;
	--g5-main-menu-vertical-background-color-4 : #515151;
	--g5-main-menu-vertical-background-color-5 : #616161;
	--g5-main-menu-vertical-background-color-6 : #717171;
	--g5-main-menu-vertical-background-color-7 : #818181;

	--g5-font-icon: #{inspect($font_icon)};


	--g5-color-success: #{$color_success};
	--g5-color-success-foreground: #{$color_success_foreground};
	--g5-color-success-brightness : #{$color_success_brightness};

	--g5-color-danger: #{$color_danger};
	--g5-color-danger-foreground: #{$color_danger_foreground};
	--g5-color-danger-brightness : #{$color_danger_brightness};

	--g5-color-warning: #{$color_warning};
	--g5-color-warning-foreground: #{$color_warning_foreground};
	--g5-color-warning-brightness : #{$color_warning_brightness};

	--g5-color-info: #{$color_info};
	--g5-color-info-foreground: #{$color_info_foreground};
	--g5-color-info-brightness : #{$color_info_brightness};
}