@media (min-width: 576px) {
	.elementor-section.elementor-section.elementor-section-boxed > .elementor-container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.elementor-section.elementor-section.elementor-section-boxed > .elementor-container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.elementor-section.elementor-section.elementor-section-boxed > .elementor-container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.elementor-section.elementor-section.elementor-section-boxed > .elementor-container {
		max-width: 1200px;
	}
}