
.ube-icon-box{
	.elementor-icon{
		font-size: 32px;
	}
	.ube-ib-title{
		font-family: var(--g5-body-font);
		font-size: 20px;
		letter-spacing: 1px;
		font-weight: 800;
		text-transform: uppercase;
	}
	.ube-ib-desc {
		margin-top: 18px;
	}
}