.elementor-widget-ube-social-icon .ube-social-icons{
	padding-left: 0;
}

.ube-social-icons a{
	text-decoration: none;
}

.ube-social-outline:hover i, .ube-social-outline:hover svg {
	color:var(--g5-color-accent);
}